OPENAI_API_KEY=<openai_api_key>

API_HOST=127.0.0.1
API_PORT=8000
API_TOKEN=<api_token>

STREAMLIT_HOST=0.0.0.0
STREAMLIT_PORT=8501

PRECOMPUTE_EVAL=false

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
TOKENIZERS_PARALLELISM=false
